*.aux
*.bbl
*.blg
*.log
R/.RData
*.Rout
*.eps
*~
*/*~
.DS_Store
Calculations/.tex
.Rhistory
Calculations/CalcTM/calcprob
Calculations/CalcTM/calcprob2loc
Calculations/CalcTM/calctm
Calculations/CalcTM/calctm2loc
Calculations/CalcTM/calctm2locfull
Calculations/CalcTM/calctm2locfullsparse
Calculations/CalcTM/countStates
Calculations/CalcTM/countIndStates
*.log
*.aux
*.pdf
Calculations/TwolociA4/indprob[0-9]*.txt
Calculations/TwolociX4/female[0-9]*.txt
Calculations/TwolociX4/male[0-9]*.txt
.RData
*.o
DOpaper/
preCCprob.tex
preCCprob_supp.tex
Calculations/TwolociA4/indprob.tgz
Calculations/TwolociX4/femaleprob.tgz
Calculations/TwolociX4/maleprob.tgz
*.bak
Calculations/Eightway/*prob
Calculations/Eightway/*.txt
Calculations/GeneralMapExpansion/tmp/*.txt
Thumbnail/broman_genetics_thumb_big.png
